<div class="border-2 border-lg-3 border-primary border-bottom position-relative">
    <nav class="container">
        <div class="row">
            <div class="col-lg-6 py-2_5 py-lg-4 d-flex">
                <h1 class="fs-6 me-4 me-lg-5 mb-0 flex-shrink-0">
                    <a class="logo d-flex align-items-center" href="../pages/index.html">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" class="logo-img" alt="logo">
                        <span class="ms-3 me-1 fs-3 d-none d-lg-inline-block">7TAO</span><span class="fw-bold d-none d-lg-inline-block">活動訂票網</span>
                    </a>
                </h1>
                <div class="input-group nav-search">
                    <input type="text" class="form-control border-2" placeholder="探索活動" aria-label="探索活動" aria-describedby="search">
                    <span class="input-group-text" id="search"><span class="material-symbols-outlined">
                        search
                        </span></span>
                  </div>
                  <div class="ms-4 d-flex border rounded-1 py-1 px-2_5 d-lg-none menu">
                    <span class="material-symbols-outlined align-self-center">
                        menu
                        </span>
                        <ul class="menu-list">
                            <li> <a href="#" class="d-flex align-items-center gap-1 h-100">
                                <span class="material-symbols-outlined">
                                    description
                                    </span>
                                    REGISTER
                            </a></li>
                            <li> <a href="#" class="d-flex align-items-center gap-1 h-100">
                                <span class="material-symbols-outlined fill">
                                    person
                                    </span>
                                    LOGIN
                            </a></li>
                        </ul>
                  </div>
            </div>
            <ul class="col list-unstyled d-none d-lg-flex gap-4 justify-content-end py-4 p-0 m-0 page-link">
                <li>
                    <a href="#" class="d-flex align-items-center gap-1 h-100">
                        <span class="material-symbols-outlined">
                            description
                            </span>
                            REGISTER
                    </a>
                </li>
                <li class="d-flex align-items-center gap-1">
                    <a href="#" class="d-flex align-items-center gap-1 h-100">
                        <span class="material-symbols-outlined fill">
                            person
                            </span>
                            LOGIN
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>