<footer class="fw-bold p-lg-8 p-6">
    <div class="container d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between">
        <div>
            <a href="index.html" class="fw-normal font-shrikhand text-black fs-4">ALPHABOX+</a>
            <p class="mb-0 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <span class="material-symbols-outlined share-icon"> emergency </span>
        <ul class="m-0 p-0 d-flex flex-column flex-lg-row gap-lg-4 gap-2 list-unstyled">
            <li><a href="#" class="text-black">關於我們</a></li>
            <li><a href="#" class="text-black">產品資訊</a></li>
            <li><a href="#" class="text-black">常見問題</a></li>
            <li><a href="#" class="text-black">隱私政策</a></li>
            <li class="d-lg-none">Copyright © 2023 Hexschool.</li>
        </ul>
    </div>    
</footer>