.footer-menu{
    margin-bottom: 36px;
    @include pad{
        margin-bottom: 32px;
    }
    @include mobile{
        margin-bottom: 0px;
    }
}
.service{
    font-size: 14px;
}
.icons{
    gap: 32px;
    a, img{
        display: block;
    }
    img{
        @include pad{
            width: 40px;
        }
        @include mobile{
            width: 24px;
        }
    }
    @include pad{
        position: absolute;
        right: 0;
        top: 0;
    }
    @include mobile{
        gap: 8px;
    }
}