@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');
.font-en{
    font-family: 'Roboto', sans-serif;
}
.font-cn{
    font-family: 'Noto Sans TC', sans-serif;
}
.text-red{
    color: #AA0601;
}
.text-tiny{
    color: #FBF2F2;
}