<header class="bg-primary pt-3 pb-md-3">
    <nav class="container-fluid container-md">
        <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
                <img src="../assets/images/logo.png" alt="logo" class="logoImg">
            </div>
            <ul class="col gx-0 gx-md-4 text-white d-flex mb-0 align-self-center justify-content-end nav-menu gap-md-nav fs-5 flex-wrap">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="index.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="question.html">常見問題</a></li>
            </ul>
        </div>
    </nav>
</header>